.container {
padding:20px;
height: 100vh;
display: grid;
grid-template-rows: auto 1fr auto;
}

.main {
 
}

.footer {
text-align: center;
font-size:1rem ;
}
.header{
  color:var(--title_color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin:32px;
}
